<h1 mat-dialog-title>Order ID: {{data.array.invid}} </h1>
<h1 mat-dialog-title class="webname">
  Website: {{data.array.web}}
  <span class="dia-date">Order Date:{{data.array.date}}</span>
</h1>
<div mat-dialog-content>
  <mat-grid-list cols="3" rowHeight="3:4">
    <mat-grid-tile class="matpanel">
      <h2 class="heading">Order Details:</h2>
      <p><b>Name:</b> {{data.array.name}}</p>
      <p><b>Address:</b> {{data.array.address}}</p>
      <p><b>City:</b> {{data.array.city}}</p>
      <p><b>Zip:</b> {{data.array.zip}}</p>
      <p><b>State:</b> {{data.array.state}}</p>
      <p><b>Country:</b> {{data.array.country}}</p>
      <p><b>Email:</b> {{data.array.email}}</p>
      <p><b>Phone No:</b> {{data.array.phone}}</p>
    </mat-grid-tile>
    <mat-grid-tile class="matpanel">
      <h2 class="heading">Tracking/Payment:</h2>
      <p *ngIf="data.array.payby"><b>Selected Payment Method :</b>{{data.array.payby}}</p>
      <p *ngIf='data.array.pay_link==""'>
        <button mat-raised-button color="accent" class="addpaymentlink" (click)="addpaymentlink(data.array)">Add Payment
          Link</button>
        <img src="assets/image/loadingpng.gif" class="loading addpaylinksts "
          [ngClass]="{'nhide':paylinksts, 'hide':!paylinksts}">
      </p>
      <p *ngIf='data.array.pay_link!=""'>
        <button mat-raised-button color="accent" class="addpaymentlink" (click)="resendpaymentlink(data.array)">Resend
          Payment Confirmation</button>
        <span class="material-icons editicon" (click)="updatepaymentlink(data.array)"> edit </span>
        <img src="assets/image/loadingpng.gif" class="loading paylinksts "
          [ngClass]="{'nhide':paylinksts, 'hide':!paylinksts}">
      </p>

      <h2 class="heading">Shipping Details:</h2>
      <button mat-raised-button mat-icon-button color="primary" class="addTrakingicon"
        (click)="addTraking(data.array.oid, data.array.web)">
        <i class="material-icons">
          add
        </i>
      </button>
      <p *ngIf='data.array.trck.length > 0'>
        <span class="material-icons editicon" color="warn" style="color:red;" (click)="deletetracking(data.array.trck, data.array.web )"> delete_forever </span>
        <br><br>
        <span *ngFor='let id of data.array.trck'>
          <b>Tracking ID:</b> 
          <span class="warning" *ngIf="!id.tracking_id"> {{id}}</span>
          <span class="warning" *ngIf="id.tracking_id"><a href="{{id.tracking_link}}"> {{id.tracking_id}}</a></span><br>
        </span>
        <br />
        <button mat-raised-button color="warn" class="addTraking"
          (click)="resendTrakingid(data.array.oid, data.array.web)">Resend Tracking ID Mail</button>
        <img src="assets/image/loadingpng.gif" class="loading stslod " [ngClass]="{'nhide':stslod, 'hide':!stslod}">
      </p>

      <p *ngIf='data.array.trck.length==0'>
        <b>Tracking ID:</b> <span class="warn">Empty</span>
      </p>


    </mat-grid-tile>
    <mat-grid-tile class="matpanel">
      <h2 class="heading">Product Details:</h2>
      <button mat-icon-button mat-stroked-button color="warn" *ngIf="!editorder" class="addTrakingicon reorder"
        (click)="reorder()">
        <i class="material-icons">autorenew</i>
      </button>
      <button mat-icon-button mat-stroked-button color="primary" *ngIf="editorder" class="addTrakingicon reorder"
        (click)="reodersave()">
        <i class="material-icons">save</i>
      </button>
      <br />
      <table class="pdetailstbl" cellspacing="0">
        <tr>
          <th>Product Name</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Total</th>
        </tr>
        <tr *ngFor="let element of data.array.prname">
          <td>{{element.pname}}</td>
          <td>{{element.qty}}</td>
          <td>{{element.price}}</td>
          <td class="stot" *ngIf="data.array.web!='Manualorder'"> ${{element.qty*element.price | number}}</td>
          <td class="stot" *ngIf="data.array.web=='Manualorder'"> ${{element.price }}</td>
        </tr>
        <tr *ngIf="editorder">
          <td>
            <textarea class="inline-text" [(ngModel)]="edit_pname"></textarea>
          </td>
          <td>
            <textarea type="text" class="inline-text" [(ngModel)]="edit_qty"></textarea>
          </td>
          <td>
            Final Total:
          </td>
          <td>
            <textarea type="text" class="inline-text" [(ngModel)]="edit_tot"></textarea>
          </td>
        </tr>
        <tr>
          <td colspan="3"><b>Sub Total :</b> </td>
          <td class="stot" *ngIf="data.array.web!='Manualorder'">${{subtot}}</td>
          <td class="stot" *ngIf="data.array.web=='Manualorder'">${{data.array.prname[0].price | number : '1.2-2'}}</td>
        </tr>
        <tr>
          <td colspan="3"><b>Shipping :</b> </td>
          <td class="stot" *ngIf="data.array.web!='Manualorder' && subtot<350">$20.00</td>
          <td class="stot" *ngIf="data.array.web=='Manualorder' || subtot>350">$00.00</td>
        </tr>
        <tr>
          <td colspan="3"><b>Discount :</b> </td>
          <td class="stot" *ngIf="data.array.web!='Manualorder'">${{discount?discount:00}}</td>
          <td class="stot" *ngIf="data.array.web=='Manualorder'">$00.00</td>
        </tr>
        <tr>
          <td colspan="3"><b>Total :</b> </td>
          <td class="stot" *ngIf="data.array.web!='Manualorder'">${{total}}</td>
          <td class="stot" *ngIf="data.array.web=='Manualorder'">${{data.array.prname[0].price | number : '1.2-2' }}
          </td>
        </tr>
      </table>

    </mat-grid-tile>

  </mat-grid-list>
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="onNoClick()">No Thanks</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="" cdkFocusInitial>Ok</button>
</div>