<div class="content">
  <mat-toolbar>
    <span matBadgeOverlap="false" matBadgeColor="warn"> Total Enquirys</span>
    <img src="assets/image/loadingpng.gif" class="loading stslod ">
    <div class="filerpanel">
      <ul>

        <li>
          <mat-form-field class="search-form-field" floatLabel="never">
            <input matInput [(ngModel)]="searchKey" placeholder="Filter By Table Data" class="serachInput"
              autocomplete="off" (keyup)="applyFilter()">
            <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </li>
      </ul>
    </div>
  </mat-toolbar>


  <div class="example-container mat-elevation-z8 " #TABLE>

    <table mat-table #table [dataSource]="data" matSort>
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Sr. No. </th>
        <td mat-cell *matCellDef="let element; let i = index"> {{i+1}} </td>
      </ng-container>

      <ng-container matColumnDef="timestamp">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let element">
          <span>{{element.timestamp | date: 'dd/MM/yyyy'}}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="web">
        <th mat-header-cell *matHeaderCellDef> Web </th>
        <td mat-cell *matCellDef="let element">
          <span class="webini" *ngIf="element.web!='tramadolsale.com'">{{element.web | slice:0:3 }}</span>
          <span class="webini" *ngIf="element.web=='tramadolsale.com'">TRS</span>
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element">
          <button mat-mini-fab color="warn" (click)="composeEmail(element.email, element.web)">
            <i class="material-icons"  >mail_outline</i>
          </button> 
        </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="cno">
        <th mat-header-cell *matHeaderCellDef> Contact </th>
        <td mat-cell *matCellDef="let element">
          <button mat-mini-fab color="accent" (click)="makecall(element.phone, element.country)">
            <i class="material-icons"  >phone</i>
          </button>   
        </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="msg">
        <th mat-header-cell *matHeaderCellDef class="msgtdarea"> Message </th>
        <td mat-cell *matCellDef="let element">
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{element.msg | slice:0:30 }}
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="message-block">
                <div class="user-msg">
                  {{element.msg}}
                  <span class="time"> {{element.timestamp | date:'dd/MM/yyyy h:m a' }}</span>
                </div>
                <div *ngFor="let item of element.conversation">
                  <div class="admin-msg" *ngIf="item.admin_msg">
                    {{item.admin_msg}}
                    <span class="time"> {{item.timestamp | date:'dd/MM/yyyy h:m a' }}</span>
                  </div>
                  <div class="user-msg" *ngIf="item.user_msg">
                    {{item.user_msg}}
                    <span class="time"> {{item.timestamp | date:'dd/MM/yyyy h:m a' }}</span>
                  </div>
                </div>
              </div>
              <div class="send-message-block">
                  <mat-form-field class="example-full-width input-block" floatLabel="never">
                    <textarea matInput placeholder="Type a message" [(ngModel)]="messageBody" class="textarea-msg"></textarea>
                  </mat-form-field>
                  <button mat-stroked-button mat-raised-button mat-icon-button color="primary" class="send-message"
                    (click)="sendmessage(element.id)">
                    <i class="material-icons">
                      send
                    </i>
                  </button>
                </div>
            </mat-expansion-panel>
          </mat-accordion>
        </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button mat-icon-button color="warn" class="dltbtn" (click)="deleteenquiry(element.id)">
            <i class="material-icons">
              delete
            </i>
          </button>
          <mat-slide-toggle color="primary" (click)="changenquirysts(element.id)" [checked]="element.status==1">
            Completed</mat-slide-toggle>
        </td>
      </ng-container>

      <ng-container matColumnDef="noData">
        <td mat-footer-cell *matFooterCellDef colspan="10" class="noDatacls">
          <b>Sorry!</b> No data Available.
        </td>
      </ng-container>
      <ng-container matColumnDef="loading">
        <td mat-footer-cell *matFooterCellDef colspan="10" class="noDatacls">
          <img src="assets/image/loading.gif" class="loading"> Loading data...
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selctrow(row)"
        [ngClass]="{'selected':selectrow==row.id}"></tr>
      <tr mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':data!=null}"></tr>
      <tr mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':nor}"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="9" showFirstLastButtons></mat-paginator>
  </div>

</div>