.mat-dialog-content {
    padding-right: 0px !important;
    overflow: hidden !important;
  }

.mat-grid-tile .mat-figure {
    right: unset !important;;
    bottom: unset !important;
    align-items: inherit;
}

.matpanel p {
    padding-left: 10px;
}
.dia-date {
    float: right;
}
.mat-dialog-title {
    margin: -24px -24px 18px;
    display: block;
    padding: 6px 26px;
    background-color: #00c7aa;
    color: #fff;
    font-size: 16px;
    border-bottom: 2px solid #f98e33;
}
.webname {
    padding: 1px 26px;
    background-color: #f98e33;
    color: #fff;
    font-size: 12px;
    height:12px;
    line-height: inherit;
}
.mat-grid-list {
    margin-bottom: 10px !important;
    /*height: 321px !important;
    padding-bottom: 13px !important;*/
}
.addTraking {
    margin-top: 20px;
}
.stot {
    text-align:right;
}

.pdetailstbl th {
    border-top:1px solid  #38c7aa;
}
.pdetailstbl th, .pdetailstbl td {
    border-bottom:1px solid  #38c7aa;
    border-left:1px solid  #38c7aa;
    border-right:1px solid  #38c7aa;
}
.pdetailstbl th:first-child, .pdetailstbl td:first-child {
    border-left:1px solid  #38c7aa;
    border-right:0px;
}
.pdetailstbl th:last-child, .pdetailstbl td:last-child {
    border-left:0px;
    border-right:1px solid  #38c7aa;
}
.loading {
    width: 33px;
    position: relative;
    top: 10px;
    bottom: 16px;
}
.stslod {
    width: 25px;
    top: 5px;
    left: 14px;
    display: none;
    float: right;
    margin-top: 23px;
    margin-right: 36px;
    margin-left: -25px;
}
.paylinksts {
    width: 25px;
    top: 5px;
    left: 12px;
    display: none;
    float: left;
    margin-top: -39px;
    margin-right: 36px;
    margin-left: -25px;
}
.addpaylinksts {
    margin-left: 10px;
    width: 25px;
    top: 38px;
    left: -19px;
    display: none;
    float: right;
    margin-top: -39px;
    margin-right: 36px;
    margin-left: -25px;
}
.nhide {
    display: block;
}
.addTrakingicon{
    float: right;
    margin-top: -21px;
}
.editicon{
    position: absolute;
    color: #00cc95;
    cursor: pointer;
}
.notebox{
    padding: 10px;
    background-color: #fff;
    width: fit-content;
}
.notebox ul {
    padding: 0px;
    margin: 0px;
    padding-left: 10px;
    margin-top: 10px;
}
.round-green {
    padding: 3px 11px;
    background-color: #309a00;
    border-radius: 50%;
}
.line-green {
    height: 4px;
    width: 150px;
    background-color: #309a00;
    display: inline-block;
    position: relative;
    top: -3px;
}
.sts-txt {
    color:#9b9b9b;
    font-size: 14px;
}
.round-gray {
    padding: 3px 11px;
    background-color: #adadad;
    border-radius: 50%;
}
.line-gray {
    height: 4px;
    width: 150px;
    background-color: #adadad;
    display: inline-block;
    position: relative;
    top: -3px;
}
.compare {
    text-align :center;
}
.compare .heading {
    color: #00c7aa;
    margin: 0px;
    margin-left: 10px;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 17px;
}
.nofcall {
    position: absolute;
    margin-top: -18px;
    margin-left: 84px;
    background-color: #d8d6d6;
    width: 16px;
    text-align: center;
}  